<ion-content [fullscreen]="true">
  <div class="header">
    <h1 class="titulo">
      Ingresa tu correo
      <p class="subtitulo">para recibir el link de recuperación</p>
    </h1>
  </div>
  <div>
    <ion-item>
      <ion-input class="input" placeholder="Ingresa tu correo"></ion-input>
      <ion-icon name="mail-outline"></ion-icon>
    </ion-item>
    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
      <ion-fab-button [routerLink]="['/login']">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
